{{ form_start(form, {'attr': {'class': 'form'}}) }}
        <div class="form-group">
            {{ form_label(form.provider, 'Fornisseur') }}
            {{ form_widget(form.provider, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.provider) }}
        </div>
        <div class="form-group">
            {{ form_label(form.product, 'Produit') }}
            {{ form_widget(form.product, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.product) }}
        </div>
        <div class="form-group">
            {{ form_label(form.price, 'Prix') }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.price) }}
        </div>
        <div class="form-group">
            {{ form_label(form.deliveryTime, 'Delai de livraison(j)') }}
            {{ form_widget(form.deliveryTime, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.deliveryTime) }}
        </div>
        <div class="form-group">
            {{ form_label(form.minQuantity, 'Quantité min') }}
            {{ form_widget(form.minQuantity, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.minQuantity) }}
        </div>
    <button class="btn">{{ button_label|default('Enregister') }}</button>
{{ form_end(form) }}
