{% extends 'app.html.twig' %}

{% block title %}Achat{% endblock %}
{% block stylesheets %}
    <style>
        .table-show th,
        .table-show td {
            min-width: 100px;
            text-align: left
        }
        .table-show {
            width: 100%
        }
    </style>
{% endblock %}

{% block body %}
        <h3>Achat du {{ purchase.createdAt|date("d/m/Y h:i:s") }}</h3>
        <div style="width: 100%; text-align: right; margin: 15px 0">
            <a class="btn info" href="{{ path('export_purchase_csv', {id: purchase.id}) }}">Export en CSV</a>
        </div>
        <div>
            <div style="margin: 20px 5px">
                <span><strong>Fournisseur:</strong> {{ purchase.provider.name }}</span>
            </div>
            <table class="table-show">
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                    <th>Prix total</th>
                </tr>
            {% for pp in productPurchase %}
                <tr>
                    <td><span>{{ pp.product != null ? pp.product.name : "Nouveau produit" }}</span></td>
                    <td>{{ pp.quantity }}</td>
                    <td>{{ pp.unitPrice }}</td>
                    <td>{{ pp.quantity * pp.unitPrice }}</td>
                </tr>
            {% endfor %}
            </table>
            <div style="margin: 20px 5px">
                <span><strong>Prix d'achat total:</strong> {{ purchase.totalAmount }}</span>
            </div>
            <div style="margin: 20px 5px">
                <span><a href="{{ path('index_purchase') }}" >Retour à la liste</a></span>
            </div>
        </div>
{% endblock %}